*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    margin: 20px 40px ;
}
.searchbar{
    width: 250px;
    border:none;
    outline:none;
    background-color: white;
    
}
.header{
    text-align: justify;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F0F3F2;
    padding: 20px;
    border-radius: 20px;
}
.search{
    margin-top: 20px;
    width:fit-content;
    border:1px solid lightgrey;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px ;
    background-color: white;
}
.section{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.product_select{
    display: flex;
    align-items: center;
}
.select{
    margin: 10px;
    padding: 8px;
    width: 150px;
    border-radius: 6px;
}

.product_select div:nth-child(2) select{
    width: 200px;
}
/* card section */

.card{
    max-width: 300px;
    box-shadow: 0px 0px 8px rgb(201, 201, 201);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}